<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 col-12">
    
      <data-table [data]="dataTest">
          <data-column [columnIcon]="'fa fa-code'" [columnHeader]="'ID'" [iconField]="'icon'"  [columnField]="'id'"></data-column>
          <data-column [columnHeader]="'Registro'" [columnField]="'registro'"></data-column>
          <data-column [columnHeader]="'Data'" [columnField]="'data'" ></data-column>
          <data-column [columnHeader]="'Vara'" [columnField]="'vara'"></data-column>
          <data-column [columnHeader]="'Status'" [columnField]="'status'"></data-column>
      </data-table>
  
  </div>
</div>

